.ask-comp-prompt-dropdown-footer {
  padding: 0 8px 4px;
  display: flex;
  justify-content: center;
}

.recent-prompt-item:hover {
  cursor: pointer;
  opacity: 0.5;
}
.ant-tag {
  margin-right: 0;
}

.ant-select-selection-item {
  button {
    display: none;
  }
}

.ant-collapse-header {
  padding: 8px !important;
}
