.ant-tabs-nav {
  margin-bottom: 0px !important;
}
.ant-tabs-content-holder {
  height: calc(100vh - 46px) !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.ant-tabs-content {
  height: 100%;
}
.ant-tabs-tabpane {
  height: 100%;
  overflow: hidden;
}
