.layout {
  height: 100vh;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.suspenseFallback {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
